@use "@/common/styles/colors"
@use "@/common/styles/breakpoints"
@use "@/common/styles/scale"

.server-search
  position: relative
  flex: 1
  min-width: 0
  container-type: inline-size

.search-icon
  container-type: inline-size

.search-icon
  position: absolute
  top: 50%
  left: scale.server-list(0.65rem)
  width: scale.server-list(1.7rem)
  height: scale.server-list(1.7rem)
  transform: translateY(-50%)
  color: colors.$subtext
  transition: opacity 0.2s

  @media (max-width: breakpoints.$mobile)
    width: scale.server-list(1.275rem)
    height: scale.server-list(1.275rem)
    left: scale.server-list(0.55rem)

  @container (max-width: 180px)
    opacity: 0
    pointer-events: none

.info-container
  position: absolute
  top: 50%
  right: scale.server-list(0.65rem)
  transform: translateY(-50%)
  user-select: none
  cursor: pointer
  color: colors.$subtext
  transition: opacity 0.2s

  @media (max-width: breakpoints.$mobile)
    right: scale.server-list(0.425rem)

  @container (max-width: 180px)
    opacity: 0
    pointer-events: none

  p
    margin: 0
    padding: scale.server-list(0.175rem) scale.server-list(0.425rem)
    border-radius: scale.server-list(0.5rem)
    font-size: scale.server-list(0.75rem)
    border: 1px solid colors.$gray

    @media (max-width: breakpoints.$mobile)
      font-size: scale.server-list(0.667rem)
      padding: scale.server-list(0.125rem) scale.server-list(0.34rem)

.search-input
  user-select: none
  padding: scale.server-list(0.68rem) scale.server-list(5.1rem) scale.server-list(0.68rem) scale.server-list(2.975rem)
  border: 1px solid colors.$gray
  background-color: colors.$lighter-background
  color: colors.$white
  box-sizing: border-box
  border-radius: scale.server-list(0.7rem)
  font-size: scale.server-list(1rem)
  height: var(--search-control-size)
  width: 100%
  outline: none
  transition: border-color 0.2s ease

  @media (max-width: breakpoints.$mobile)
    padding: scale.server-list(0.6rem) scale.server-list(4.25rem) scale.server-list(0.6rem) scale.server-list(2.35rem)
    font-size: scale.server-list(0.917rem)

  @container (max-width: 180px)
    padding-right: scale.server-list(1rem)

  @container (max-width: 180px)
    padding-left: scale.server-list(1rem)

  &:focus
    border: 1px solid colors.$primary
    background-color: colors.$dark-gray